@import "tailwindcss";

@keyframes ping-dot {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.7);
    opacity: 0.3;
  }
}
html {
  scroll-behavior: smooth;
}


.animate-ping-dot {
  animation: ping-dot 1.2s infinite ease-in-out;
}
button{
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
